$white: #fff;
$light: #EFEFED;
$black: #000;
$dark: #181818;
$gray: #5E5E5B;
$gray-light: #B7B7B7;
$orange: #F74421;

$pc: 1280px;

$base-font: "NeueHaasDisplay", "Helvetica Neue", "Helvetica", sans-serif;
$second-font: "CanelaTrial", "Baskerville", "Georgia", serif;